html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(255, 145, 0);
}

.container {
    max-width: 480px;
    margin: 5vh auto;
    border: 1px solid white;
    border-radius: 5px;
    min-height: 90vh;
    background: rgb(0, 129, 146);
}

.main-header {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.input {
    width: 100%;
}

.input::placeholder {
    color: rgb(71, 71, 71);
    font-style: italic;
}

.input:hover {
    background: rgba(105, 183, 255, 0.582);
}

.area {
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 100px;
}

.input--right {
    align-self: flex-end;
    width: 120px;
    height: 60px;
}
